---
import Layout from "../layouts/Layout.astro";
import PreSample from "../components/PreSample.astro";
---

<Layout title="Pre demo">
  <main>
    <div class="section">
      <h1>Section h1</h1>
      <PreSample />
      <div class="section">
        <h2>Section h2</h2>
        <PreSample />
        <div class="section">
          <h3>Section h3</h3>
          <PreSample />
        </div>
        <div class="section">
          <h3>Section h3</h3>
          <PreSample />
        </div>
      </div>
      <h1>Section h1</h1>
      <PreSample />
      <div class="section">
        <h2>Section h2</h2>
        <PreSample />
        <div class="section">
          <h3>Section h3</h3>
          <PreSample />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style></style>
